---
interface Props {
  title: string
  description?: string
  icon?: string
  className?: string
  imgWidth?: string
  special?: string
}

const { title, description, icon, className, imgWidth, special } = Astro.props
---

<a
  title={special === 'true' ? 'Agendar mi cita para iniciar mi tratamiento de ' : `Agendar mi cita para iniciar mi tratamiento de ${title}`}
  href={special === 'true' ? 'https://api.whatsapp.com/send?phone=525575069386&text=Solicito información sobre el tratamiento de ' : `https://api.whatsapp.com/send?phone=525575069386&text=Solicito información sobre el tratamiento de ${title}`}
  target="_blank"
  rel="noopener noreferrer"
  class={`flex flex-col items-end px-5 rounded-[19px] transition bg-white text-slate-900 group ${description ? 'py-5' : 'py-8'} ${className} hover:bg-yellow-500`}>
  <h3 class={`font-bold w-full text-nowrap flex transition ${description ? 'items-start text-2xl' : 'justify-center text-xl group-hover:scale-110'}`}>{title}</h3>
  {description ? <p class="text-sm mt-4 xs:max-w-[510px]">{description}</p> : ''}
  {icon ? <img src={icon} alt={`Icono de ${title}`} class={`w-1/2 aspect-square ${imgWidth ? imgWidth : 'max-w-48'}`} /> : ''}
</a>