---
interface Props {
	title: string
	description: string
}

const { title, description } = Astro.props
const url = 'clinicadentalsonriemx.com'
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="author" content="Leonel Valentín">
		<meta name="keywords" content="Sonríe Mx, armonización facial, implantología, carillas, ortodoncia, brackets, dentista, salud dental, odontología, ortodoncia, estética dental, limpieza dental, chequeo dental, Harmony Dental Clinic">
		<meta name="viewport" content="width=device-width" />
		<link rel="shortcut icon" href="/favicon.svg" type="image/x-icon">
		<meta name="description" content={description} />
		<!-- open graph -->
		<meta property="og:title" content={title} />
		<meta property="og:description" content={description} />
		<meta property="og:type" content="website" />
		<meta property="og:url" content={url} />
		<meta property="og:image" content="https://clinicadentalsonriemx.com/logo.png" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<slot />
	</body>
</html>
<style is:global>
	@font-face {
    font-family: 'Ondo';
    font-style: normal;
    font-display: swap;
		src: url(/src/fonts/Ondo.ttf) format('woff2');
  }

	@font-face {
    font-family: 'Varela';
    font-style: normal;
    font-display: swap;
		src: url(/src/fonts/Montserrat-Light.ttf) format('woff2');
  }

	html {
  	font-family: 'Varela', system-ui;
		font-weight: 400;
		background: #1d1d1d;
		color: white;
		scroll-behavior: smooth;
	}
	.text-gold {
    -webkit-text-fill-color: transparent;
  }
</style>
