---
interface Props {
	title: string
	description: string
}

const { title, description } = Astro.props
const url = ''
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="author" content="Leonel Valentín">
		<meta name="keywords" content="">
		<meta name="viewport" content="width=device-width" />
		<link rel="shortcut icon" href="/favicon.svg" type="image/x-icon">
		<meta name="description" content={description} />
		<!-- open graph -->
		<meta property="og:title" content={title} />
		<meta property="og:description" content={description} />
		<meta property="og:type" content="website" />
		<meta property="og:url" content={url} />
		<meta property="og:image" content="" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<slot />
	</body>
</html>
<style is:global>
	@font-face {
    font-family: 'Lambency';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(/src/fonts/Salty.otf) format('woff2');
  }

	@font-face {
    font-family: 'Emotional';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(/src/fonts/EmotionalRescuePersonalUseRegular-PKY87.ttf) format('woff2');
  }

	@font-face {
    font-family: 'Ondo';
    font-style: normal;
    font-display: swap;
		src: url(/src/fonts/Ondo.ttf) format('woff2');
  }

	html {
  	font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
		font-weight: 400;
		background: #1d1d1d;
		color: white;
		scroll-behavior: smooth;
		min-width: 768px;
	}
	.text-gold {
    -webkit-text-fill-color: transparent;
  }
</style>
